<!DOCTYPE html>
<html>
<head>
    <title>Adventurers Wanted | @ViewBag.Title</title>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <header>Adventurers Wanted</header>
    <section>
        @RenderBody()
    </section>
    <footer>Copyright 2019 Codey Worley</footer>
</body>
</html>