<!DOCTYPE html>
<html>
<head>
    <title>Adventurers Wanted | @ViewBag.Title</title>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Adventurers Wanted</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="CampaignSearch">Campaigns</a></li>
                <li><a asp-controller="App" asp-action="Profile">Profile</a></li>
            </ul>
        </menu>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>Copyright 2019 Codey Worley</footer>
</body>
</html>