@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Adventurers Wanted | @ViewBag.Title</title>
    </head>
    <body>
        <h1>Adventurers Wanted</h1>
    </body>
</html>